<div class="bg-white rounded-lg p-3  flex flex-col justify-center items-center md:items-start shadow-lg mb-4">
    <div class="flex flex-row justify-center mr-2">
        <a href="{{ path('show_profile', {'username': comment.author.username}) }}">
            <img alt="avatar" width="48" height="48" class="rounded-full w-10 h-10 mr-4 shadow-lg mb-4" src="{{ absolute_url(asset(annonce.author.profilePic)) }}">
        </a>
        <div>
            <a href="{{ path('show_profile', {'username': comment.author.username}) }}" class="text-blue-500 font-semibold text-lg text-center md:text-left ">{{ comment.author.username }}</a>
            <p class="text-sm leading-5 text-gray-500">le {{ comment.createdAt|date('d/m/Y') }}</p>
        </div>
    </div>


    <p style="width: 90%" class="text-gray-600 text-lg text-center md:text-left ">{{ comment.content}}</p>

</div>